@{
    ViewData["Title"] = "Home";
}
<div class="text-center mt-5">
    <h2>Welcome to the Quiz Game!</h2>
    <a asp-controller="Quiz" asp-action="Index" class="btn btn-primary btn-lg mt-4">Start Quiz</a>

</div>
